{# src/My/BlogBundle/Resources/views/Default/new.html.twig #}
{% extends 'MyBlogBundle::layout.html.twig' %}

{% block body %}
<h1>Add Post</h1>
{# novalidate属性によりクライアントサイドバリデーションを無効化。#}
<form action="{{ path('blog_new') }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
    <input type="submit" value="Save Post" />
</form

<div>
<a href="{{ path('blog_index') }}">一覧に戻る</a>
</div>
{% endblock %}